<div class="contenedor">
    <div class="ventana">
        <p>SESION2</p>
        <p>DIRECTIVAS: Es una clase con algo en particular , un decorador<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>@directive(),este</p>
        <p>contiene metadata. Modifica o cambia los atributos del DOM(estructura del html)</p>
        <p><br></p>
        <p>DECORADOR @DIRECTIVE PADRE Y @compponent es el hijo(extiende de directive)</p>
        <p>TRES TIPOS:</p>
        <p>1 directiva componente: component con plantilla</p>
        <p>&nbsp; -&lt;app-componente&gt;</p>
        <p>2 directivas estructurales: condicionales</p>
        <p>3 directivas de atributo: elemento div, h1 mediante:</p>
        <p>&nbsp; ngclass,ngstyle,</p>
        <p>NGMODEL: ([(ngModel)]=&quot;algo&quot;,es bidireccional pasar datos desde el html o el ts.</p>
        <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; trabaj con el formsmodule.</p>
        <p>NGCLASS: colores</p>
        <p>NGSTYLE: condiciones</p>
        <p>PIPE: formato de data,uppercase o perzonalizado para fechas</p>
        <p><br></p>
        <p>colega ziani: 949266928&nbsp;</p>
        <p>jueves</p>
    </div>
    <div class="ventana">
        <app-session2teoria></app-session2teoria>
        <app-session2practica></app-session2practica>
    </div>

</div>