<div class="menu">
    <button mat-raised-button color="primary" routerLink="session1">Session 1</button>
    <button mat-raised-button color="accent" routerLink="session2">Session 2</button>
    <button mat-raised-button color="warning" routerLink="session3">Session 3</button>
    <button mat-raised-button color="primary" routerLink="session4">Session 4</button>
    <button mat-raised-button color="accent" routerLink="session5">Session 5</button>
    <button mat-raised-button color="primary" routerLink="session6">Session 6</button>
    <button mat-raised-button color="accent" routerLink="session7">Session 7{{cantidadUsuarios}}</button>
    <button mat-raised-button color="warning" routerLink="session8">Session 8</button>


</div>
<router-outlet></router-outlet>